.gradientBg
{
    padding-top: 5px;
    background-image: linear-gradient(to right,#000046,#1cb5e0);
    color: wheat;
}

.item:hover
{
        transform: scale(1.06);
}
.item
{
    transition: transform .2s;
}