<p class="topic">Add Item</p>
<form [formGroup]="form" style="padding-bottom: 10px">

  <!-- for item -->
  <div class="form-group">
    <label>Select Item</label>
    <select name="itemType" class="form-control myFav" placeholder="Select Item" formControlName="item" (change)="change(item)">
      <option value="">-- Select Item --</option>
      <option value="book" selected>Book</option>
      <option value="dvd">DVD</option>
    </select>
    <div class="alert alert-danger myFav" *ngIf="item.touched && !item.valid">
      <div *ngIf="item.errors.required">please select an item</div>
    </div>
  </div>
  <div *ngIf="!item.invalid">
    <!-- Disable until choose a value-->

    <!-- for isbn No -->
    <div class="form-group">
      <label>ISBN No :</label>
      <input type="text" formControlName="isbn" class="form-control myFav" name="isbn" />
      <div class="alert alert-danger myFav" *ngIf="isbn.touched && !isbn.valid">
        <div *ngIf="isbn.errors.required">ISBN is reqiured </div>
        <div *ngIf="isbn.errors.minlength">ISBN Number should be minumum 10 characters</div>
        <div *ngIf="isbn.errors.maxlength">ISBN Number should be maximum 13 characters</div>
        <div *ngIf="isbn.errors.cannotContainSpaces">ISBN cannot contain spaces</div>
      </div>
    </div>

    <!-- for Title -->
    <div class="form-group">
      <label>Title :</label>
      <input required type="text" class="form-control myFav" name="title" formControlName="title">
      <div class="alert alert-danger myFav" *ngIf="title.touched && !title.valid">
      <div *ngIf="title.errors.required">Title is reqiured </div>
    </div>
    </div>

    <!-- for sector -->
    <div class="form-group">
      <label>Sector :</label>
      <!-- <input required type="text" class="form-control myFav"  name="sector" formControlName="sector">
    <div class="alert alert-danger myFav" *ngIf="sector.touched && !sector.valid"> -->
      <select name="sector" class="form-control myFav" placeholder="Select Sector" formControlName="sector">
        <option value="">-- Select Sector --</option>
        <option *ngFor="let x of sectors" [value]="x" selected>{{x}}</option>
      </select>
      <div class="alert alert-danger myFav" *ngIf="sector.touched && !sector.valid">
        <div *ngIf="sector.errors.required">please select a sector </div>
      </div>
    </div>

    <!-- for publisher -->
    <div class="form-group">
      <label>Publisher :</label>
      <input required type="text" class="form-control myFav" formControlName="publisher" name="publisher">
      <div class="alert alert-danger myFav" *ngIf="publisher.touched && !publisher.valid">
        <div *ngIf="publisher.errors.required">Publisher is reqiured </div>
      </div>
    </div>

    <!-- for noOfpages -->
    <div class="form-group" *ngIf="item.value=='book'">
      <label>No of pages :</label>
      <input required type="number" class="form-control myFav" formControlName="noOfpages" name="no of pages">
      <div class="alert alert-danger myFav" *ngIf="noOfpages.touched && !noOfpages.valid">
        <div *ngIf="noOfpages.errors.required">Publisher is reqiured </div>
      </div>
    </div>

    <!-- for authors -->
    <div class="form-group" *ngIf="item.value=='book'">
      <label>Author(s) :</label>
      <div formArrayName="authors" *ngFor="let author of authors.controls;let i = index;">
        <input type="text" class="form-control myFav" [formControlName]="i" style="margin-bottom: 5px;">
        <div class="alert alert-danger myFav" *ngIf="author.touched && !author.valid">
          <div *ngIf="author.errors.required">Author is reqiured </div>
        </div>
        <button *ngIf="i!=0 && i==(authors.controls.length-1)" type="button" class=" btn myBtn" style="margin-bottom: 15px;"
          value="generate" (click)="removeAuthor(author)">Remove</button>
      </div>
      <button type="button" class="btn" value="addRow" (click)="addAuthor()">Add a row</button>
    </div>

    <!-- submit btn for book -->
    <button type="button" *ngIf="item.value=='book'" class="btn btn-primary"  [disabled]="!isBookValid()" 
      style="margin-right:10px;" (click)="bookSubmit()">Submit </button>


    <!-- for DVDs -->
    <div class="dvdContent" *ngIf="item.value=='dvd'">
      <!-- for languages -->
      <div class="form-group">
        <label>Language(s) :</label>
        <div formArrayName="languages" *ngFor="let language of languages.controls;let i = index;">
          <input type="text" class="form-control myFav" [formControl]="language" style="margin-bottom: 5px;">
          <div class="alert alert-danger myFav" *ngIf="language.touched && !language.valid">
            <div *ngIf="language.errors.required">Author is reqiured </div>
          </div>
          <button *ngIf="i!=0 && i==(languages.controls.length-1)" type="button" class=" btn myBtn" style="margin-bottom: 15px;"
            value="generate" (click)="removeLanguage(language)">Remove</button>
        </div>
        <button type="button" class="btn" value="addRow" (click)="addLanguage()">Add a row</button>
      </div>

      <!-- for subtitles -->
      <div class="form-group">
        <label>Subtitle(s) :</label>
        <div formArrayName="subtitles" *ngFor="let subtitle of subtitles.controls;let i = index;">
          <input type="text" class="form-control myFav" [formControl]="subtitle" style="margin-bottom: 5px;">
          <div class="alert alert-danger myFav" *ngIf="subtitle.touched && !subtitle.valid">
            <div *ngIf="subtitle.errors.required">Author is reqiured </div>
          </div>
          <button *ngIf="i!=0 && i==(subtitles.controls.length-1)" type="button" class=" btn myBtn" style="margin-bottom: 15px;"
            value="generate" (click)="removeSubtitle(subtitle)">Remove</button>
        </div>
        <button type="button" class="btn" value="addRow" (click)="addSubtitle()">Add a row</button>
      </div>

      <!-- for creators -->
      <div class="form-group">
        <label>Creator(s) :</label>
        <div formArrayName="creators" *ngFor="let creator of creators.controls;let i = index;">
          <input type="text" class="form-control myFav" [formControl]="creator" style="margin-bottom: 5px;">
          <div class="alert alert-danger myFav" *ngIf="creator.touched && !creator.valid">
            <div *ngIf="creator.errors.required">Author is reqiured </div>
          </div>
          <button *ngIf="i!=0 && i==(creators.controls.length-1)" type="button" class=" btn myBtn" style="margin-bottom: 15px;"
            value="generate" (click)="removeCreator(creator)">Remove</button>
        </div>
        <button type="button" class="btn" value="addRow" (click)="addCreator()">Add a row</button>
      </div>

      <!-- for actors -->
      <div class="form-group">
        <label>Actor(s) :</label>
        <div formArrayName="actors" *ngFor="let actor of actors.controls;let i = index;">
          <input type="text" class="form-control myFav" [formControl]="actor" style="margin-bottom: 5px;">
          <div class="alert alert-danger myFav" *ngIf="actor.touched && !actor.valid">
            <div *ngIf="actor.errors.required">Author is reqiured </div>
          </div>
          <button *ngIf="i!=0 && i==(actors.controls.length-1)" type="button" class=" btn myBtn" style="margin-bottom: 15px;"
            value="generate" (click)="removeActor(creator)">Remove</button>
        </div>
        <button type="button" class="btn" value="addRow" (click)="addActor()">Add a row</button>
      </div>

    </div>
    <button type="button" class="btn btn-primary"  [disabled]="!isdvdValid()" *ngIf="item.value=='dvd'"
      style="margin-right:10px" (click)="dvdSubmit()">Submit </button>
    <button type="button" class="btn btn-primary" value="clear" (click)="clear()">Clear </button>
  </div>
</form>

<footer class="w3-container w3-center w3-black w3-xlarge" [class.myFooter]="item.invalid" > 
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  Powered by sahan dilshan
  </p>
</footer>
