

<div id="LoginForm">
  <div class="container">
    <!-- <h1 class="form-heading">login Form</h1> -->
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Admin Login</h2>
          <p *ngIf="valid">Please enter your username and password</p>
          <p *ngIf="!valid" style="color:red">Invalid usernmae or password</p>
        </div>
        <form id="Login" [formGroup]="form">

          <div class="form-group">


            <input type="text" class="form-control" id="inputUsername" 
            placeholder="username" formControlName="username" name="username" >
            <div class="alert alert-danger myBg" *ngIf="username.invalid && username.touched">
                <div style="z-index: +10;" *ngIf="username.errors.required">username is Required</div>
                <div *ngIf="username.errors.cannotContainSpaces">username can not contain spaces</div>
              </div>

          </div>

          <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" (keyup.enter)="login()"
            placeholder="Password" formControlName="password">
            <div class="alert alert-danger myBg" *ngIf="password.invalid && password.touched">
                <div style="z-index: +10;" *ngIf="password.errors.required">password is Required</div>
                
              </div>

          </div>
          <!-- <div class="forgot">
            <a>Forgot password?</a>
          </div> -->
          <button type="button" class="btn btn-primary" (click)="login()" [disabled]="form.invalid">Login</button>

        </form>
      </div>

    </div>
  </div>
</div>